<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title><%= title.toUpperCase() %> | LASU-ACEITSE</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
    <style>
        .w3-container ul, .w3-container ol {padding-left: 20px}
        .w3-container ul li {padding-left: 15px; list-style: square outside}
        .w3-container ol li {padding-left: 15px; list-style: decimal outside}
    </style>

</head>

<body>
    <!-- Preloader -->
    <% include ../partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('<%- content.postImage %>');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title"><%= title.toUpperCase() %></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-leftbar ">
                        <br>
                        <p> <%- content.content %></p>
                        <br><br>
                        <img src="<%= content.postImage %>" alt=""><br><br>
                        <div><%= content.postImageCaption %></div>
                    </div>
                </div>

                <!-- sideNav -->
                <% include ../partials/sideNav.ejs %>
            </div>


        </div>
    </section>
    <!-- ***** Blog Area End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <% include ../partials/footer.ejs %>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <% include ../partials/subscribe-script.ejs %>
 
</body>

</html>