<div id="preloader">
    <div class="medilife-load"></div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="h-100 d-md-flex justify-content-between align-items-center">
                        <p class="d-none">Welcome to <span>Africa</span> Centre of Excellence</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Header Area -->
    <div class="main-header-area" id="stickyHeader">
        <div class="container px-0">
            <div class="row h-100 align-items-center">
                <div class="col-12 h-100">
                    <div class="main-menu h-100">
                        <nav class="navbar h-100 navbar-expand-lg">
                            <!-- Logo Area  -->
                            <a class="navbar-brand float-left" href="/">
                                <img src="img/core-img/logo.png" alt="ACEITSE Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu"
                                aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="navbar-toggler-icon"></span></button>

                            <div class="collapse navbar-collapse float-right" id="medilifeMenu">
                                <!-- Menu Area -->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item <%= (activeNav === 'home') ? 'active' : '' %>">
                                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <!-- dropdown for rentention and support -->
                                    <li class="nav-item dropdown <%= (activeNav === 'about') ? 'active' : '' %>">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/justification-for-establishing-the-centre">Justification for Esatablishment Centre</a>
                                            <a class="dropdown-item" href="/vision">Vision</a>
                                            <a class="dropdown-item" href="/mission">Mission</a>
                                            <a class="dropdown-item" href="/objectives">Objectives</a>
                                            <a class="dropdown-item" href="/contact">Contact Us</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown <%= (activeNav === 'education') ? 'active' : '' %>">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Education</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/education">Education</a>
                                            <a class="dropdown-item" href="/teaching">Teaching</a>
                                            <a class="dropdown-item" href="/learning-activities">Learning Activities</a>
                                            <a class="dropdown-item" href="/skills-gap">Skills Gap to be Brigded</a>
                                            <a class="dropdown-item" href="/innovations-in-pedagogy">Innovations in Pedagogy</a>
                                            <a class="dropdown-item" href="/innovations-in-assessment">Innovations in Assessment</a>
                                            <a class="dropdown-item" href="/online-courses">Online Courses</a>
                                        </div>
                                    <li class="nav-item dropdown <%= (activeNav === 'research') ? 'active' : '' %>">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Research</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/research-plan">Research Plan</a>
                                            <a class="dropdown-item" href="/industrial-partnerships">Industrial/Sectoral Partnerships</a>
                                            <a class="dropdown-item" href="/academic-partnerships">Partnership with Academic Institutions</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown <%= (activeNav === 'recruit') ? 'active' : '' %>">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Recruitment & Support</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/retention-and-support">Retention and Support</a>
                                            <a class="dropdown-item" href="/student-recruitment">Student Recruitment</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown <%= (activeNav === 'management') ? 'active' : '' %>">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Management</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/staff-development">Staff</a>
                                            <a class="dropdown-item" href="/centre-operations">Centre Operations</a>
                                            <a class="dropdown-item" href="/implementation-timeline">Implementation Timeline</a>
                                        </div>
                                    </li>
                                    <li class="nav-item <%= (activeNav === 'news') ? 'active' : '' %>">
                                        <a class="nav-link" href="/news-lists">News</a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
