<div class="form-group row">
    <label for="<%= fieldname %>" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
         <!-- code for image visibility (radio button) -->
            <form action="">
         <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="<%= fieldname1 %>" class="custom-control-input">
                <label class="custom-control-label" for="visible"><%= fieldvalue1%></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name= "<%= fieldname2%>" class="custom-control-input">
                <label class="custom-control-label" for="notVisible"><%= fieldvalue2 %></label>
            </div>
            </form>
    </div>
</div>

<script>
    $('.your-checkbox').prop('indeterminate', true)
</script>