<div class="form-group row">
    <label for="<%= fieldname %>" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
         <!-- code for image visibility (radio button) -->
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" name="<%= fieldname %>" value="1" class="custom-control-input" <%= (valueField == 1) ? 'checked' : '' %> >
            <label class="custom-control-label">Yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" name= "<%= fieldname %>" value="0" class="custom-control-input" <%= (valueField == 0) ? 'checked' : '' %> >
            <label class="custom-control-label">No</label>
        </div>
    </div>
</div>