<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/dashboard-head', { pagename: 'Edit Contact Us' }) %>
</head>

<body>
    <%- include('../partials/dashboard-nav') %>

    <div class="container-fluid">
        <div class="row">

            <!-- sidebar -->
            <%- include('../partials/sidebar.ejs') %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                    <h1 class="h2 rw">Edit Page Content: <span class="text-info">Contact Us</span></h1>
                </div>
                <form action="<%= req_url %>" method="post" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

                    <%- include('../fields/textarea', { fieldname: 'address', fieldlabel: 'Address', valueField: (content) ? content.address : ''}); %>

                    <%- include('../fields/text', { fieldname: 'phone', fieldlabel: 'Phone Number', valueField: (content) ? content.phone : false }); %>

                    <%- include('../fields/text', { fieldname: 'email', fieldlabel: 'Email Address', valueField: (content) ? content.email : false }); %>

                    <%- include('../fields/text', { fieldname: 'mapLongitude', fieldlabel: 'Longitude Coordinates', valueField: (content) ? content.mapLongitude : false }); %>

                    <%- include('../fields/text', { fieldname: 'mapLatitude', fieldlabel: 'Latitude Coordinates', valueField: (content) ? content.mapLatitude : false }); %>

                    <%- include('../fields/hidden', { fieldname: 'id', valueField: (content) ? content._id : '' }); %>

                    <div class="col-sm-10 ml-md-auto pl-0">
                        <%- include('../fields/button', { fieldvalue: 'UPDATE CONTENT' }); %>
                    </div>

                </form>
                <span style="display: none" id="upload">
                    <%=upload%>
                </span>

                 <span style="display: none" id="failure">
                    <%=failure%>
                </span>

                <br> <br>
            </main>
        </div>
    </div>

    <%- include('../partials/dashboard-scripts') %>
    <script src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        // Init Ckeditor
        CKEDITOR.replace('address', {
            toolbar: [
				{name:'basic', items:['Bold','Italic','Underline','-','Copy','Cut','Paste','PasteText','PasteFromWord','-','NumberedList','BulletedList','-','SelectAll','RemoveFormat','Undo','Redo']},
			],
            height: '200'
        });

        // Show POST success alert
        if ($.trim($('#upload').text()).length !== 0) {
            alert("<%=upload%>")
        }

        // Show POST error alert
        if($.trim($('#failure').text()).length !== 0) {
            alert("<%=failure%>")
        }

    </script>
</body>
</html>
