
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-light flex-md-nowrap p-0 shadow">
      <img src="/img/bg-img/admin.png" alt="">
      <h5 style="color: black; padding-right:100px">Administrator</h5>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout" style="color:black">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <!-- sidebar -->
        <% include ../partials/sidebar.ejs %>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Authorize Admin</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <form action="/handlenews" method="POST" enctype=multipart/form-data class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <%- include('../fields/text', { fieldname: 'title', fieldplaceholder: 'News Title', fieldlabel: 'News Title'}); %>

            <%- include('../fields/text', { fieldname: 'writer', fieldplaceholder: "Writer's name", fieldlabel: "Writer's name"}); %>

            <%- include('../fields/text', { fieldname: 'department', fieldplaceholder: "Department", fieldlabel: "Department"}); %>

            <%- include('../fields/file', { fieldname: 'newImg', fieldlabel: 'News Header Image'}); %>

            <%- include('../fields/textarea', { fieldname: 'content', fieldlabel: 'News Content'}); %>

            <%- include('../fields/button', { fieldvalue: 'Upload News'}); %>
          </form>
          <span style="display: none" id="upload">
              <%=upload%>
          </span>

          <br> <br>
        </main>
      </div>
    </div>

    <script src="/ckeditor/ckeditor.js"></script>
    <script>
      CKEDITOR.replace( 'editor' );
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script type="text/javascript">
      if($.trim($('#upload').text()).length !== 0) {
        alert("<%=upload%>")
      }
    </script>
  </body>
</html>
