<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/dashboard-head', { pagename: 'Edit slider' }) %>
</head>

<body>
    <%- include('../partials/dashboard-nav') %>

    <div class="container-fluid">
        <div class="row">

            <!-- sidebar -->
            <%- include('../partials/sidebar.ejs', {page: 'slider', activeParent: 'home'}) %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                    <h1 class="h2 rw">Edit Page Content: <span class="text-info">Slider</span></h1>
                </div>

                <form action="/dashboard/slider/add" method="post" enctype="multipart/form-data" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

                    <%- include('../fields/text', { fieldname: 'name', fieldlabel: 'Slider Name', valueField: ''}); %>

                    <%- include('../fields/file', { fieldname: 'postImage', fieldlabel: 'Slider Image', valueField: ''}); %>

                    <%- include('../fields/textarea', { fieldname: 'text_on_img', fieldlabel: 'Text On Slider', valueField: ''}); %>

                    <%- include('../fields/text', { fieldname: 'img_link', fieldlabel: 'Slider On-click URL', valueField: ''}); %>

                    <%- include('../fields/text', { fieldname: 'img_link_text', fieldlabel: 'Slider On-click Label', valueField: ''}); %>

                    <%- include('../fields/radio', { fieldname: 'is_active', fieldlabel: 'Is Enabled', valueField: '1'}); %>

                    <hr class="my-4"/>
                    <div class="col-sm-10 ml-md-auto pl-0">
                        <%- include('../fields/button', { fieldvalue: 'CREATE SLIDER' }); %>
                    </div>

                </form>
                <span style="display: none" id="upload">
                    <%=upload%>
                </span>

                 <span style="display: none" id="failure">
                    <%=failure%>
                </span>

                <br> <br>
            </main>
        </div>
    </div>

    <%- include('../partials/dashboard-scripts') %>
    <script src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        // Init Ckeditor
        CKEDITOR.replace('text_on_img', {
            toolbar: [
                {name:'basic', items:['Font','Format','FontSize','TextColor','BGColor','-','Bold','Italic','Underline','Strike','Subscript','Superscript','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','-','Copy','Cut','Paste','PasteText','PasteFromWord','-','Image','-','NumberedList','BulletedList']},
                '/',
                {name:'insert', items: ['Link','Unlink','Outdent','Indent','SpecialChar','InsertPre','HorizontalRule','PageBreak','-','Image','-','SelectAll','RemoveFormat','Undo','Redo','Maximize']},
            ],
            height: 350
        });

        // Show POST success alert
        if ($.trim($('#upload').text()).length !== 0) {
            alert("<%=upload%>")
        }

        // Show POST error alert
        if($.trim($('#failure').text()).length !== 0) {
            alert("<%=failure%>")
        }

    </script>
</body>

</html>
