<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/dashboard-head', { pagename: 'Edit slider' }) %>
</head>

<body>
    <%- include('../partials/dashboard-nav') %>

    <div class="container-fluid">
        <div class="row">

            <!-- sidebar -->
            <%- include('../partials/sidebar.ejs', {page: 'slider', activeParent: 'home'}) %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                    <h1 class="h2 rw">Edit Page Content: <span class="text-info">slider</span></h1>
                </div>

                <form action="" method="post" enctype="multipart/form-data" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

                    <div class="form-group row">
                        <label for="image upload" class="col-sm-2 col-form-label">Post Slider Image</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="sliderImg" >
                            <img src="#" class="p-2 mt-2" height='50px' />
                            <a href="#">Click to Preview current image </a>
                        </div>
                        
                    </div>
                    
                    <label for="image upload" class="col-sm-2 col-form-label">Image Visibilty</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">visible</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">not visible</label>
                      </div>
                    <br> <br>
                    <div class="input-group mb-3">
                    <label for="image text" class="col-sm-2 col-form-label">Image text</label>
                        
                        <input type="text" class="form-control" placeholder="image text" aria-label="Username" aria-describedby="basic-addon1">

                      </div>

                      <div class="input-group mb-3">
                        <label for="image text" class="col-sm-2 col-form-label">Image text link</label>
                            
                            <input type="text" class="form-control" placeholder="image text link" aria-label="Username" aria-describedby="basic-addon1">
    
                          </div>
    

                    <br>

                    <div class="col-sm-10 ml-md-auto pl-0">
                        <%- include('../fields/button', { fieldvalue: 'UPDATE CONTENT' }); %>
                    </div>

                </form>
                <span style="display: none" id="upload">
                    <%=upload%>
                </span>

                 <span style="display: none" id="failure">
                    <%=failure%>
                </span>

                <br> <br>
            </main>
        </div>
    </div>

    <%- include('../partials/dashboard-scripts') %>
    <script src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        // Init Ckeditor
        CKEDITOR.replace('summary', {
            toolbar: [
				{name:'basic', items:['Bold','Italic','Underline','-','Copy','Cut','Paste','PasteText','PasteFromWord','-','NumberedList','BulletedList','-','SelectAll','RemoveFormat','Undo','Redo']},
			],
            height: '200'
        });
        CKEDITOR.replace('content', {
            toolbar: [
                {name:'basic', items:['Font','Format','FontSize','TextColor','BGColor','-','Bold','Italic','Underline','Strike','Subscript','Superscript','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','-','Copy','Cut','Paste','PasteText','PasteFromWord','-','Image','-','NumberedList','BulletedList']},
                '/',
                {name:'insert', items: ['Link','Unlink','Outdent','Indent','SpecialChar','InsertPre','HorizontalRule','PageBreak','-','Image','-','SelectAll','RemoveFormat','Undo','Redo','Maximize']},
            ],
            height: 350 });

        // Show POST success alert
        if ($.trim($('#upload').text()).length !== 0) {
            alert("<%=upload%>")
        }

        // Show POST error alert
        if($.trim($('#failure').text()).length !== 0) {
            alert("<%=failure%>")
        }

    </script>
</body>

</html>