<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>News | LASU-ACEITSE</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/w3.css">
    <style>
    .hi{
        height: 300px;
    }
    </style>
</head>

<body>
    <!-- Preloader -->
    <% include ../partials/navbar.ejs %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(img/news.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title"><b>News </b></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">

                    <div class="single-blog-area">
                    
                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail">
                            <img src="<%=oneNews.newImg%>" alt="" class="hi">
                            <!-- Post Date -->
                            <div class="post-date">
                                <a href="#"><%= oneNews.createdDate%></a>
                            </div>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <div class="post-author">
                                <a href="#"><img src="img/bg-img/edu.jpg" alt=""></a>
                            </div>
                            <a href="#" class="headline mb-0"><%= oneNews.title%> </a>
                            <div class="post-meta">
                                <a href="#" class="post-author-name">by <%= oneNews.writer%></a> | <a href="#" class="post-catagory"><%= oneNews.department%></a>
                            </div>
                            <%- oneNews.content%>
                            <br>
                            
                        </div>

                    

                    </div>
                    <!-- end -->

                    
                    <!-- Leave A Comment -->
                    
                    

                <!-- sideNav -->
                <% include ../partials/sideNav.ejs %>
            </div>
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <!-- <% include ../partials/footer.ejs %> -->
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script id="dsq-count-scr" src="//acitse.disqus.com/count.js" async></script>

    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>